* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
}
.title {
  width: 100vw;
  height: 90vh;
  background-color: coral;
  padding: 32vh 0 0 0;
}
.loz-oot,.fallout3,.ff7,.teso,.lotro {
  width: 100vw;
  height: 25vh;
  font-size: 5em;
  text-align: center;
  color: white;
  width: 100%;
  height: 25vh;

}
.loz-oot {
  background-color: green;
}
.fallout3 {
  background-color: tan;
}
.ff7 {
  background-color: gold;
}
.teso {
  background-color: black;
}
.lotro {
  background-color: darkgreen;
}
.align-left {
  text-align: left;
}


h1 {
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  color: white;
  letter-spacing: .05em;
}
