.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background-color: #cccccc;
  margin: 0;
}
#container {
  width: 1440px;
  margin: 0 auto;
}
.header {
  width: 1440px;
  padding: 0 0 25px;
  background-color: black;
  margin: 0;
  position: relative;
  text-align: center;

}
.boxed {
  width: 868px;
  margin: 50px auto;
}
.boxed2 {
  width: 830px;
  margin: 50px auto;
}

.boxed3, .boxed4, .boxed5 {
  width: 375px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 65px;
  margin-bottom: 20px;
  float: left;
}

.square {
  width: 1440px;
  background-color: #808080;
}
.footer {
  width: 1440px;
  padding: 25px 0;
  background-color: black;
  margin: 0;
  position: relative;
  text-align: center;
}
h1,h3,h4,h6 {
  text-align: center;
  font-family: english,sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 90px;
  color: white;
}
#titleL {
  position: absolute;
  left: 50px;
  top: 50px;
}
#titleR {
  position: absolute;
  right : 55px;
  bottom: 50px;
}
h6 {
  font-size: 36px;
  margin: 25px 0;
}
p {
  font-family: source-serif-pro,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
@media only screen and (max-width: 1024px) {
  body {
    background-color: red;
  }










}
