body {
  background-color: #cccccc;
  margin: 0;
}
#container {
  width: 1440px;
  margin: 0 auto;
}
.header {
  width: 1440px;
  height: 554px;
  background-color: black;
  margin: 0;
  position: relative;
  text-align: center;

}
.boxed {
  width: 868px;
  margin: 50px auto;
}
.boxed2 {
  width: 830px;
  margin: 50px auto;
}

.boxed3, .boxed4, .boxed5 {
  width: 375px;
  margin: 50px auto;
}
.boxed3 {
  margin-left: 50px;
}
.boxed4 {
  margin-top: -1220px;
}
.boxed5 {
  margin-right: 50px;
  margin-top: -920px;
}
.square {
  width: 1440px;
  height: 1200px;
  background-color: #808080;
  margin-top: 75px;
}

.footer {
  width: 1440px;
  height: 228px;
  background-color: black;
}
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: english,sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2 {
  font-size: 50px;
  color: white;
}
h1 {
  /* margin-left: -600px;
  margin-top: -300px;
  margin-left: -800px; */
}
#titleL {
  position: absolute;
  left: 0;
  top: 200px;
}
#titleR {
  position: absolute;
  right : 0;
  top: 200px;
}
h2 {
  /* margin-right: -600px;
  margin-top: -195px; */
}
h3,h4,h5,h6 {
  font-size: 36px;
}
h6 {
  margin-top: 110px;
}

p {
  font-family: source-serif-pro,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}
