@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');

body {
  background-color: darkseagreen;
}
p {
text-align: center;
font-family: "IM Fell English SC";
color: gold;
font-size: 50px;
}
h1 {
  text-align: center;
  font-family: "IM Fell English SC";
  color: purple;
  font-size: 35px
}
h1 ~ p {
  text-align: center;
  font-family: "IM Fell English SC";
  color: darkblue;
  font-size: 30px
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
a:link {
  color: #265301;
}
a:visited {
  color: #437A16;
}
a:hover {
  background: #CDFEAA;
}
a:active {
  background: #265301;
  color: #CDFEAA;
}
