
body{
  background-color: #333333;
  }
  #container {
    width: 800px;
    margin: 50px auto;
    box-sizing: border-box;
  }
  .header {
    width: 800px;
    height: 100px;
    background-color: crimson;
    margin-bottom: 10px;
  }
  .nav {
    width: 800px;
    height: 50px;
    background-color: crimson;
  }
  .column1, .column2, .column3 {
    width: 260px;
    height: 600px;
    background-color: crimson;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
  }
    .footer {
      width: 800px;
      height: 100px;
      background-color: crimson;
      Margin-top: 620px;
    }
