body {
    background-color: darkred;
    margin: 0;
}
#container {
  margin: auto;
}
.face {
  display: block;
  width: 526px;
  height: 580px;
  background-color: floralwhite;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  margin: 20% auto;
  position: relative;
}
.half-circle {
  background-color: gainsboro;
  width: 580px;
  height: 265px;
  margin: 100px auto 0px;
  border-radius: 50% 50% 0 0/ 100% 100% 0px 0px;
  left: 105px;
  top: 58px;
  transform: rotate(90deg);
  position: absolute;
}
.eyeL, .eyeR {
  display: block;
  width: 100px;
  height: 154px;
  background-color: black;
  border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
  transform: rotate(90deg);
}
.eyeL {
  position: absolute;
  left: 100px;
  top:150px;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.eyeR {
  position: absolute;
  right: 100px;
  top: 150px;
  transform: rotate(270deg);
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 50px solid red;
  position: absolute;
  top: 150px;
  left: 143px;
}
.trapezoid {
  border-bottom: 40px solid darkgray;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  width: 40px;
  position: absolute;
  top: 350px;
  left: 207px;
}
.triangle2, .triangle3 {
  width: 0;
  height: 0;
  border-bottom: 30px solid red;
  border-left: 125px solid transparent;
  position: absolute;
}
.triangle2 {
  top: 375px;
  left: 100px;
  transform: rotate(145deg);
}
.triangle3 {
  top: 370px;
  right: 90px;
  transform: rotate(50deg);
}
.circle1,.circle2,.circle3,.circle4,.circle5,.circle6,.circle7,.circle8,.circle9,.circle10,.circle11,.circle12,.circle13,.circle14,.circle15,.circle16 {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%
}
.circle1 {
  top: 120px;
  left: 145px;
  position: absolute;
}
.circle2 {
  top: 120px;
  left: 215px;
  position: absolute;
}
.circle3 {
  top: 120px;
  left: 285px;
  position: absolute;
}
.circle4 {
  top: 120px;
  left: 355px;
  position: absolute;
}
.circle5 {
  top: 80px;
  left: 145px;
  position: absolute;
}
.circle6 {
  top: 35px;
  left: 145px;
  position: absolute;
}
.circle7 {
  top: 80px;
  left: 355px;
  position: absolute;
}
.circle8 {
  top: 35px;
  left: 355px;
  position: absolute;
}
.circle9 {
  bottom: 25px;
  left: 180px;
  position: absolute;
}
.circle10 {
  bottom: 85px;
  left: 180px;
  position: absolute;
}
.circle11 {
  bottom: 155px;
  left: 180px;
  position: absolute;
}
.circle12 {
  bottom: 155px;
  right: 180px;
  position: absolute;
}
.circle13 {
  bottom: 85px;
  right: 180px;
  position: absolute;
}
.circle14 {
  bottom: 25px;
  right: 180px;
  position: absolute;
}
.circle15 {
  top: 320px;
  left: 50px;
  position: absolute;
}
.circle16 {
  top: 320px;
  right: 50px;
  position: absolute;
}
@keyframes glow {
  from {
    box-shadow: 0 0 30px -30px darkred;
  }
  to {
    box-shadow: 0 0 30px 30px darkred;
  }
