body {
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: 10%
  margin-top: -50px;
}
.tile1, .tile2, .tile3 {
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}
.tile1 {
  background-color: dodgerblue;
}
.tile2 {
  background-color: rebeccapurple;
}
.tile3 {
  background-color: deeppink;
}

.tile4 {
  background-color: #556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.tile5, .tile6, .tile7 {
  height: 100px;
  width: 100px;
  border-radius: -50%;
}
.tile5 {
  background-color: purple;
}
.tile6 {
  background-color: green;
}
.tile7 {
  background-color: orange;
}
.tile8 {
  width: 0;
  height: 0;
  border-left: 25px solid blue;
  border-right: 25px solid red;
  border-bottom: 50px solid black;
}
.tile9 {
  width: 0;
  height: 0;
  border-left: 25px solid yellow;
  border-right: 25px solid pink;
  border-top: 50px solid white;
}
.tile10 {
  width: 0;
  height: 0;
  border-top: 25px solid green;
  border-right: 50px solid black;
  border-bottom: 25px solid cyan;
}
.tile11 {
  width: 0;
  height: 0;
  border-top: 25px solid magenta;
  border-left: 50px solid white;
  border-bottom: 25px solid teal;
}
